.item {
  position: relative;
  border: dashed 1px #4495ef;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background-color: #d1e7ff;
}

.item:nth-child(odd) {
  background-color: #e8f3ff;
}

.item-content {
  width: 100%;
  border-right: dashed 1px #ccc;
}

.item-content-link {
  color: grey !important;
}

.item-stars {
  font-size: 24px;
  padding-left: 20px;
}

.item-stars-count {
  font-size: 30px;
}
