<!-- HTML -->

<div id="livemark-right">
</div>

<!-- CSS -->

<style>
#livemark-right {
  display: none;
  width: 200px;
  position: fixed;
  padding: 10px;
  right: 25px;
  top: 25px;
  font-size: 125%;
}

#livemark-right > div:not(:last-child) {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 992px) {
  #livemark-right.with-right {
    display: block;
  }
}
</style>

<!-- JS -->

<script>
document.addEventListener("DOMContentLoaded", function () {
  if (document.getElementById('livemark-right').innerHTML.trim()) {
    document.getElementById('livemark-main').classList.add('with-right');
    document.getElementById('livemark-right').classList.add('with-right');
  }
});
</script>
