<!-- HTML -->

<div id="livemark-sidebar">
  {% if metadata.header %}
    {% include 'features/header.html' %}
  {% endif %}

  {% if metadata.status %}
    {% include 'features/status.html' %}
  {% endif %}

  {% if metadata.reference %}
    {% include 'features/reference.html' %}
  {% endif %}

  {% if metadata.navigation %}
    {% include 'features/navigation.html' %}
  {% endif %}
</div>

<!-- CSS -->

<style>
#livemark-sidebar {
  display: none;
  width: 200px;
  position: fixed;
  padding: 10px;
  left: 25px;
  top: 25px;
  font-size: 125%;
}

@media only screen and (min-width: 768px) {
  #livemark-sidebar {
    display: block;
  }
}
</style>
