<!-- HTML -->

<div id="livemark-sidebar">
</div>

<!-- CSS -->

<style>
#livemark-sidebar {
  display: none;
  width: 200px;
  position: fixed;
  padding: 10px;
  left: 25px;
  top: 25px;
  font-size: 125%;
}

@media only screen and (min-width: 768px) {
  #livemark-sidebar.with-sidebar {
    display: block;
  }
}
</style>

<!-- JS -->

<script>
document.addEventListener("DOMContentLoaded", function () {
  if (document.getElementById('livemark-sidebar').innerHTML.trim()) {
    document.getElementById('livemark-content').classList.add('with-sidebar');
    document.getElementById('livemark-sidebar').classList.add('with-sidebar');
  }
});
</script>
