{% if metadata.sidebar.header %}
  <div id="livemark-header">
    {% if metadata.sidebar.header.title %}
      <div class="toc">
        <ol class="toc-list">
          <li class="toc-item">
            <a class="toc-link is-active-link" href="#">
              {{ metadata.sidebar.header.title }}
            </a>
          </li>
        </ol>
      </div>
   {% endif %}
  </div>
{% endif %}

<style>
#livemark-header {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 10px;
  margin-bottom: 16px;
}

#livemark-header .toc {
  opacity: 0.5;
}
</style>
