<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{ livemark.title }}</title>
</head>
<body>

{% block base %}
{% include "sections/base.html" %}
{% endblock %}

{% block left %}
{% include "sections/left.html" %}
{% endblock %}

{% block main %}
{% include "sections/main.html" %}
{% endblock %}

{% block right %}
{% include "sections/right.html" %}
{% endblock %}

{% for feature in livemark.features %}
{% if livemark[feature] %}
{% include 'features/' + feature + '.html' %}
{% endif %}
{% endfor %}

{% block user %}
{% include "sections/user.html" %}
{% endblock %}

</body>
</html>
