<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{ metadata.title }}</title>
</head>
<body>

{% block content %}
{% include "sections/content.html" %}
{% endblock %}

{% block sidebar %}
{% include "sections/sidebar.html" %}
{% endblock %}

{% block scroll %}
{% if metadata.scroll %}
{% include "features/scroll.html" %}
{% endif %}
{% endblock %}

{% block table %}
{% if metadata.table %}
{% include "features/table.html" %}
{% endif %}
{% endblock %}

{% block chart %}
{% if metadata.chart %}
{% include "features/chart.html" %}
{% endif %}
{% endblock %}

{% block markup %}
{% if metadata.markup %}
{% include "features/markup.html" %}
{% endif %}
{% endblock %}

{% block user %}
{% endblock %}

</body>
</html>
