{% if metadata.scroll is not false %}

<!-- HTML -->

<div id="livemark-scroll">
  <div class="ue-scroll btn-white arrow-black circle shadow">
  </div>
</div>

<!-- CSS -->

<link rel="stylesheet" href="https://unpkg.com/ue-scroll-js@2.0.2/dist/ue-scroll.min.css">
<style>
#livemark-scroll {
  display: none;
}
#livemark-scroll .ue-scroll {
    right: auto;
    left: 25px;
    bottom: 25px;
}
@media only screen and (min-width: 768px) {
    #livemark-scroll {
        display: block;
        opacity: 0.5;
    }
}
</style>

<!-- JS -->

<script src="https://unpkg.com/ue-scroll-js@2.0.2/dist/ue-scroll.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function () {
  UeScroll.init({ element: ".ue-scroll", scrollSpeed: 10 });
});
</script>

{% endif %}
