#livemark-scroll {
  display: none;
}
@media only screen and (min-width: 768px) {
    #livemark-scroll {
        display: block;
        opacity: 0.5;
    }
}
.ue-scroll {
    right: auto;
    left: 25px;
    bottom: 25px;
}
