#livemark-sidebar {
  display: none;
}
@media only screen and (min-width: 768px) {
  #livemark-sidebar {
    display: block;
    width: 200px;
    position: fixed;
    padding: 10px;
    left: 25px;
    top: 25px;
    font-size: 125%;
    opacity: 0.5;
  }
}
