{% if metadata.sidebar is not false %}

<!-- HTML -->

<div id="livemark-sidebar">
  {% include 'features/header.html' %}
  {% include 'features/status.html' %}
  {% include 'features/reference.html' %}
  {% include 'features/navigation.html' %}
</div>

<!-- CSS -->

<style>
#livemark-sidebar {
  display: none;
  width: 200px;
  position: fixed;
  padding: 10px;
  left: 25px;
  top: 25px;
  font-size: 125%;
}

@media only screen and (min-width: 768px) {
  #livemark-sidebar {
    display: block;
  }
}
</style>

{% endif %}
