<!-- HTML -->

<div id="livemark-header">
  {% if livemark.header.title %}
  <div class="toc">
    <ol class="toc-list">
      <li class="toc-item">
        <a class="toc-link is-active-link" href="#">
          {{ livemark.header.title }}
        </a>
      </li>
    </ol>
  </div>
  {% endif %}
</div>

<!-- CSS -->

<style>
#livemark-header {
  padding-bottom: 10px;
  margin-bottom: 16px;
}

#livemark-header .toc {
  opacity: 0.5;
}
</style>

<!-- JS -->

<script>
document
  .getElementById('livemark-{{ livemark.header.section or "left"}}')
  .appendChild(document.getElementById('livemark-header'));
</script>
