<!-- HTML -->

<div id="livemark-navigation">
  <div class="js-toc toc"></div>
</div>

<!-- CSS -->

<link rel="stylesheet" href="https://unpkg.com/tocbot@4.12.3/dist/tocbot.css">
<style>

#livemark-navigation .toc {
  opacity: 0.5;
}

</style>

<!-- JS -->

<script src="https://unpkg.com/tocbot@4.12.3/dist/tocbot.min.js"></script>
<script>

// Mount
document
  .getElementById('livemark-{{ livemark.navigation.section or "left"}}')
  .appendChild(document.getElementById('livemark-navigation'));

// Load
document.addEventListener("DOMContentLoaded", function () {
  tocbot.init({
    // Where to render the table of contents.
    tocSelector: ".js-toc",
    // Where to grab the headings to build the table of contents.
    contentSelector: "#livemark-main",
    // Which headings to grab inside of the contentSelector element.
    headingSelector: "{{ livemark.navigation.selector or 'h2, h3, h4' }}",
    // For headings inside relative or absolute positioned containers within content.
    hasInnerContainers: true,
    // Called each time a heading is parsed. Expects a string in return.
    headingLabelCallback: (label) => label.replace(/(^#|#$)/g, '').trim(),
  });
});

</script>
