<!-- HTML -->

<div id="livemark-navigation">
  <div class="js-toc toc"></div>
</div>

<!-- CSS -->

<link rel="stylesheet" href="https://unpkg.com/tocbot@4.12.3/dist/tocbot.css">
<style>

#livemark-navigation .toc {
  opacity: 0.5;
}

#livemark-main h1 a,
#livemark-main h2 a,
#livemark-main h3 a,
#livemark-main h4 a,
#livemark-main h5 a,
#livemark-main h6 a {
  display: none;
}

#livemark-main h2:hover a,
#livemark-main h3:hover a,
#livemark-main h4:hover a,
#livemark-main h5:hover a,
#livemark-main h6:hover a {
  display: inline;
  margin-left: 8px;
  color: #aaa;
  font-weight: normal;
  text-decoration: none;
}

</style>

<!-- JS -->

<script src="https://unpkg.com/tocbot@4.12.3/dist/tocbot.min.js"></script>
<script>

// Mount
document
  .getElementById('livemark-{{ livemark.navigation.section or "left"}}')
  .appendChild(document.getElementById('livemark-navigation'));

// Load
document.addEventListener("DOMContentLoaded", function () {
  const content = document.querySelector("#livemark-main");
  const headings = content.querySelectorAll("h1, h2, h3, h4, h5, h6, h7");
  const headingMap = {};

  // Add IDs
  Array.prototype.forEach.call(headings, function (heading) {
    const id = heading.id
      ? heading.id
      : heading.textContent
          .trim()
          .toLowerCase()
          .split(" ")
          .join("-")
          .replace(/[!@#$%^&*():]/gi, "")
          .replace(/\//gi, "-");
    headingMap[id] = !isNaN(headingMap[id]) ? ++headingMap[id] : 0;
    if (headingMap[id]) {
      heading.id = id + "-" + headingMap[id];
    } else {
      heading.id = id;
    }
  });

  // Add TOC
  tocbot.init({
    // Where to render the table of contents.
    tocSelector: ".js-toc",
    // Where to grab the headings to build the table of contents.
    contentSelector: "#livemark-main",
    // Which headings to grab inside of the contentSelector element.
    headingSelector: "{{ livemark.navigation.selector or 'h2, h3, h4' }}",
    // For headings inside relative or absolute positioned containers within content.
    hasInnerContainers: true,
  });

  // Add links
  Array.prototype.forEach.call(headings, function (heading) {
    const link = document.createElement('a');
    link.href = '#' + heading.id;
    link.innerText = '#';
    heading.appendChild(link);
  });
});

</script>
