<!-- HTML -->

<div id="livemark-scroll">
  <div class="ue-scroll btn-white arrow-black circle shadow">
  </div>
</div>

<!-- CSS -->

<link rel="stylesheet" href="https://unpkg.com/ue-scroll-js@2.0.2/dist/ue-scroll.min.css">
<style>

#livemark-scroll {
  display: none;
}

#livemark-scroll .ue-scroll {
  bottom: 25px;
}

#livemark-scroll.left .ue-scroll {
  left: 25px;
  right: auto;
}

#livemark-scroll.right .ue-scroll {
  left: auto;
  right: 25px;
}

@media only screen and (min-width: 768px) {
    #livemark-scroll {
        display: block;
        opacity: 0.5;
    }
}

</style>

<!-- JS -->

<script src="https://unpkg.com/ue-scroll-js@2.0.2/dist/ue-scroll.min.js"></script>
<script>

// Mount
document
  .getElementById('livemark-scroll')
  .classList.add('{{ livemark.scroll.section or "left"}}')

// Load
document.addEventListener("DOMContentLoaded", function () {
  const scrollSpeed = parseInt('{{ livemark.scroll.speed or 10 }}');
  UeScroll.init({ element: ".ue-scroll", scrollSpeed });
});

</script>
