<!-- HTML -->

<div id="livemark-time">
  Written in <a href="https://livemark.frictionlessdata.io" target="_blank"> Livemark </a><br>
  (2020-05-01 16:50:33)
</div>

<!-- CSS -->

<style>
#livemark-time {
  text-align: right;
  font-size: 14px;
  float: right;
  margin-top: 10px;
  color: #aaa;
}
#livemark-time a {
  color: #aaa;
}
#livemark-time a[target="_blank"]:after {
  content: url('https://i.imgur.com/2ubF3wR.png');
}
</style>

<!-- JS -->

<script>

// Mount
document
  .getElementById('livemark-main')
  .prepend(document.getElementById('livemark-time'));

</script>
